.index-activity{
    height: 682px;
    background: #F4F4F4;
}
.activity-title{
    width: 100%;
    height: 200px;
    display: grid;
    justify-content: center;
    position: relative;
    top: 50px;
} 
#svg-Balloon{
    width: 350px;
    height: 38px;
    display: flex;
    justify-content: center;
    position: relative;
    left: 1em;
}
#svg-Balloon div{
    width: 45px;
}
.Recent-Activities{   
    height: 19px;
    font-size: 20px;
    font-family: Gilroy;
    font-weight: 800;
    color: #333333;
    line-height: 14px;
    position: relative;
    left: 1.5em;
    top: -40px;
}
#hr-action{
    text-align: center;
    height: 16px;
    font-size: 1.8em;
    font-family: Microsoft YaHei;
    font-weight: 800;
    color: #333333;
    position: relative;
    left: 0.4em;
    top: -50px;
}
.activity-content{
    height: 70%;
    display: flex;
    justify-content: center;
}
.content-pgconf{
    width: 403px;
    height: 403px;
    position: relative;
    right: 10px;
    background: #FFFFFF;
    border-radius: 5px;
}
.content-oneday{
    width: 403px;
    height:403px;
    background: #FFFFFF;
    border-radius: 5px;
    position: relative;
    left: 50px;
}
.activity-content img{
    width: 374px;
    height: 159px;
}
.actionimg-pgconf{
    position: relative;
    left: 15px;
    top: 15px;
}
.actionimg-oneday{
    position: relative;
    left: 15px;
    top: 15px;
}
.activity-content-title{
    width: 330px;
    height: 13px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 1000;
    color: #333333;
    line-height: 14px;
    position: relative;
    top: 30px;
    left: 22px;
}
.activity-content-title-small{
    width: 100%;
    height: 9px;
    font-size: 0.7em;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #333333;
    line-height: 14px;
    position: relative;
    top: 38px;
    left: 22px;
}
.activity-content p{
    width: 355px;
    height: 22px;
    font-size: 0.6em;
    font-family: Microsoft YaHei;
    font-weight: 100;
    color: #999999;
    line-height: 14px;
    position: relative;
    top: 60px;
    left: 22px;
}
.activity-content #link-pgconf{
    width: 73px;
    height: 26px;
    background: #FFD673;
    border-radius: 3px;
    border: 1px;
    position: relative;
    left: 43%;
    position: relative;
    left: 22px;
    top: 138px;
}
#link-pgconf span{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 0.8em;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    left: -50%;
    top: -30%;
}
#link-pgconf div{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 0.8em;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    top: -30%;
    right: 1%;
}
#link-pgconf:hover{
    background-color: #F9BB30;
}
.activity-content #link-oneday{
    width: 73px;
    height: 26px;
    background: #FFD673;
    border-radius: 3px;
    border: 1px;
    position: relative;
    left: 43%;
    position: relative;
    left: 22px;
    top: 138px;
}
#link-oneday span{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 0.8em;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    left: -50%;
    top: -30%;
}
#link-oneday div{
    display: inline;
    width: 22px;
    height: 7px;
    font-size: 0.8em;
    font-family: Gilroy;
    font-weight: 800;
    color: #252424;
    line-height: 14px;
    position: relative;
    top: -30%;
    right: 1%;
}
#link-oneday:hover{
    background-color: #F9BB30;
}
@media screen and (max-width: 997px) {
    .index-activity{
        height: 1100px;
        display: grid;
        justify-content: center;
    }
    #activity-title{
        display: grid;
        justify-content: center;
        position: relative;
        left: -10px;
    }
    .activity-content{
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -4px;
        left: 2px;
    }
    .activity-content img{
        width: 95%;
        position: relative;
        left: 2.5%;
    }
    #actionimg-oneday{
        width: 95%;
        position: relative;
        left: 2.5%;
    }
    .activity-content p{
        width: 35em;
    }
    #content-pgconf{
        width: 23em;
        height: 26em;
        position: relative;
        left: 0.1em;
    }
    #content-oneday{
        width: 23em;
        height: 26em;
        position: relative;
        left: 0.1em;
    }
    .content-pgconf .activity-content-title{
        width: 80%;
        position: relative;
        top: 12px;
    }
    .content-pgconf .activity-content-title-small{
        position: relative;
        top: 4px;
    }
    .content-pgconf p{
        position: relative;
        top: 5px;
    }
    .content-pgconf #link-pgconf{
        position: relative;
        top: 5px;
    }
    .activity-content .content-pgconf{
        width: 90%;
        position: relative;
        top: -50px;
        display: grid;
        justify-content: center;
    }
    .activity-content .content-oneday{
        width: 90%;
        position: relative;
        right: 40px;
    }
    .activity-content-title-small{
        font-size: 0.8em;
    }
}