.Outer-layer-contribute{
    display: flex;
    justify-content: center;
    background-color: white;
}
.contribute{
    width: 100vw;
    max-width: 1850px;
    height: 410px;
    display: flex;
    justify-content: center;
    background-image: url(../../svg/bg-started.jpg);
    background-size: 100% 81%;
    background-repeat: no-repeat;
    background-position: 0 89px;
}
.contribute .four-right{
    width: 400px;
    height: 400px;
    position: relative;
    top: 112px;
    left: 720px;
}
.contribute-middle-content{
    position: relative;
    right: -2em;
    display: grid;
    justify-content: center;
    align-items: center ;
}
.contribute-title{
    text-align: center;
    width: 25em;
    height: 19px;
    font-size: 25px;
    font-family: Gilroy;
    font-weight: 800;
    color: #333333;
    line-height: 14px;
    position: relative;
    top: 84px;
    left: -20px;
}
.contribute-font{
    width: 456px;
    height: 32px;
    font-size: 1em;
    font-family: Microsoft YaHei;
    font-weight: 550;
    color: #333333;
    line-height: 30px;
    text-align: center;
    position: relative;
    left: 65px;
}
#contribute-link{
    width: 117px;
    height: 35px;
    background: #FFD673;
    border-radius: 3px;
    position: relative;
    top: -30px;
    left: 230px;
}
#contribute-link:hover{
    background: #F9BB30;
}
#contribute-span{
    width: 72px;
    height: 9px;
    font-size: 12px;
    font-family: Gilroy;
    font-weight: 800;
    color: #333333;
    line-height: 14px;
}
@media screen and (max-width: 997px) {
   .contribute{
    background-color: white;
    background-image: none;
    width: 100%;
    display: grid;
    justify-content: center;
   }
   .contribute-girl{
    display: none;
   }
   #contribute-middle-content{
    position: relative;
    left: 1em;
    display: grid;
    justify-content: center;
   }
   .contribute-title{
    width: 300px;
    position: relative;
    left: 2em;
    top: 1em;
    font-size: 30px;
    font-family: Gilroy;
    font-weight: 800;
   }
   .contribute-font{
    position: relative;
    left: -1em;
    top: -2em;
    font-size: 1.3em;
    font-family: Microsoft YaHei;
    font-weight: 400;
   }
   #contribute-link{
    text-align: center;
    position: relative;
    left: 10em;
    top: 1%;
   }
}
@media screen and (max-width: 470px) {
    .contribute-title{
        width: 300px;
        position: relative;
        left: -0.8em;
        top: 1em;
        font-size: 25px;
        font-family: Gilroy;
        font-weight: 800;
       }
    .contribute-font{
        width: 300px;
        position: relative;
        left: -1.5em;
        top: -3em;
        font-size: 1em;
        font-family: Microsoft YaHei;
        font-weight: 400;
    }
    #contribute-link{
        text-align: center;
        position: relative;
        left: 5em;
        top: 1%;
    }
}